{% extends 'literature/base.html' %}
{% load static %}

{% block title %}Головна{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'literature/styles/index.css' %}">

{% endblock styles%}
{% block content %}
<section class="map">
  <div class="container">
    <div id="map"></div>
  </div>
</section>
{% endblock content %}

{% block script %}

<script src="{% static 'literature/scripts/Model.js' %}"></script>
<script src="{% static 'literature/scripts/View.js' %}"></script>
<script src="{% static 'literature/scripts/Controller.js' %}"></script>
<script>
  let ADMIN_MODE = false;

  let blob = JSON.parse('{{ places|safe }}'.replace(/\n/g,'---').replace(/\t/g,'123').replace(/\r/g,'123'));
  const m = new Model(blob);
  const v = new View();

  const c = new Controller(m, v);


</script>
{% endblock script %}