{% extends 'registration/base_auth.html' %}
{% block title %}Вхід{% endblock %}
{% block main %}
<style>
    .form-group {
        margin-bottom: 1rem;
    }
    .form-group > input {
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #bdbdbd;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
</style>
<div id="login">
    <h3 class="text-center text-white pt-5">Вхід</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-5">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        {% csrf_token %}
                        <h3 class="text-center text-info">Вхід</h3>
                        <div class="form-group">
                            <label for="{{ form.username.id_for_label }}">Логін:</label>
                            <br>
                            {{ form.username }}
                            {{ form.username.errors }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.username.id_for_label }}">Пароль:</label>
                            <br>
                            {{ form.password }}
                            {{ form.password.errors }}
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Увійти">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}